<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Resume</title>
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <%- include('partials/header.ejs'); %>
        <div class="download-section">
            
                <button class="go-back" onclick="window.history.back()"> Go Back</button>
            
            <button class="download-btn" id="downloadBtn" onclick="downloadPDF()"> Download Resume</button>
        </div>
        <div class="container view-resume-page" id="resumeSection">
            <div class="basic-info">
                <h1>
                    <%= result.name %>
                </h1>
                <p>Email: <%= result.email %> | Phone: <%= result.mobile %> | Location: City, Country</p>
                <p>LinkedIn: <a href="<%= result.linkedin %>">
                        <%= result.linkedin %>
                    </a> | GitHub: <a href="<%= result.github %>">
                        <%= result.github %>
                    </a></p>
            </div>

            <% if(result.profileSummary) { %>
                <section>
                    <h2>Profile Summary</h2>
                    <p>
                        <%= result.profileSummary %>
                    </p>
                </section>
                <% } %>

                    <% if(result.experience.length> 0) { %>
                        <section>
                            <h2>Work Experience</h2>
                            <% result.experience.forEach((exp)=>{ %>

                                <div class="job">
                                    <h3>
                                        <span>
                                            <%= exp.jobTitle %>
                                        </span>
                                        <%if(exp.company) { '–' } %>
                                            <span>
                                                <%= exp.company %>
                                            </span>
                                    </h3>
                                    <span>
                                        <%= exp.duration %>
                                    </span>
                                    <% if(exp.description){ %>
                                        <ul>
                                            <% exp.description.split('#').forEach((desc)=>{ %>
                                                <li>
                                                    <%= desc %>
                                                </li>

                                                <%})%>
                                        </ul>
                                        <%}%>
                                </div>

                                <% }) %>
                        </section>
                        <% } %>

                            <% if(result.education.length> 0){ %>
                                <section>
                                    <h2>Education</h2>

                                    <% result.education.forEach((edu)=>{ %>
                                        <div class="edu">
                                            <h3>
                                                <%= edu.degree %>
                                            </h3>
                                            <span>
                                                <%= edu.institution %>
                                            </span>
                                            <% if(edu.year) { %>
                                                |
                                                <% } %>
                                                    <span>
                                                        <%= edu.year %>
                                                    </span>
                                        </div>
                                        <% }) %>
                                </section>
                                <% } %>

                                    <% if(result.skills){ %>
                                        <section>
                                            <h2>Skills</h2>
                                            <div class="skills-list">
                                                <% result.skills?.split(',').forEach(skill=> { %>
                                                    <span>
                                                        <%= skill.trim() %>
                                                    </span>
                                                    <% }) %>
                                            </div>
                                        </section>
                                        <% } %>

                                            <% if(result.projects){ %>
                                                <section>
                                                    <h2>Projects</h2>

                                                    <% result.projects.forEach(project=>{ %>

                                                        <div class="project">
                                                            <h3>
                                                                <%= project.name %>
                                                            </h3>
                                                            <p>
                                                                <%= project.description %>
                                                            </p>
                                                        </div>

                                                        <% }) %>
                                                </section>
                                                <% } %>

                                                    <% if(result.certifications){ %>
                                                        <section>

                                                            <h2 class="justify-between">Certifications
                                                                <button class="button"
                                                                    onclick="removeField('<%= result._id %>', 'certifications')">
                                                                    Remove</button>
                                                            </h2>
                                                            <ul>
                                                                <% result.certifications.split(',').forEach(cert=> { %>
                                                                    <li>
                                                                        <%= cert.trim() %>
                                                                    </li>
                                                                    <% }) %>
                                                            </ul>
                                                        </section>
                                                        <% } %>

                                                            <% if(result.languages){ %>
                                                                <section>
                                                                    <h2 class="justify-between">Languages
                                                                        <button class="button"
                                                                            onclick="removeField('<%= result._id %>', 'languages')">
                                                                            Remove</button>
                                                                    </h2>
                                                                    <ul>
                                                                        <% result.languages.split(',').forEach(lang=> {
                                                                            %>
                                                                            <li>
                                                                                <%= lang.trim() %>
                                                                            </li>
                                                                            <% }) %>
                                                                    </ul>
                                                                </section>
                                                                <% } %>

                                                                    <% if(result.hobbies){ %>
                                                                        <section>
                                                                            <h2 class="justify-between">Hobbies
                                                                                <button class="button"
                                                                                    onclick="removeField('<%= result._id %>', 'hobbies')">
                                                                                    Remove</button>
                                                                            </h2>
                                                                            <ul>
                                                                                <%
                                                                                    result.hobbies.split(',').forEach(hobby=>
                                                                                    {
                                                                                    %>
                                                                                    <li>
                                                                                        <%= hobby.trim() %>
                                                                                    </li>
                                                                                    <% }) %>
                                                                            </ul>
                                                                        </section>
                                                                        <% } %>
        </div>

        <script>
            //Download Resume
            document.getElementById('downloadBtn').addEventListener('click', function () {
                window.print()
            })

            async function removeField(id, field) {
                if (!confirm(`Are you sure you want to remove ${field}?`)) return;

                const res = await fetch(`/remove/${id}/${field}`, { method: 'DELETE' });

                try {
                    const data = await res.json(); // try parsing JSON

                    if (res.ok) {
                        alert(data.message); // success
                        window.location.reload();
                    } else {
                        alert("Error: " + data.message);
                    }
                } catch (err) {
                    console.error(err);
                    alert("Unexpected error while removing section");
                }
            }
          
        </script>
</body>

</html>